* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}
.flex {
  display: flex;
}
header {
  background-color: white;
  width: 100%;
  margin-bottom: 1rem;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
}
.nav {
  border-bottom: 1px solid rgb(207, 206, 206);
}
.nav-logo {
  height: 70px;
  object-fit: cover;
}
.nav-menu-wrapper {
  flex-direction: column;
  justify-content: space-between;
}
.nav-menu-wrapper-1 {
  justify-content: space-between;
  align-items: center;
}

.hamburger-container {
  padding: 0.25rem;
}
.hamburger {
  height: 55px;
  width: 55px;
  font-size: 1.85rem;
  appearance: none;
  border: none;
  background: none;
}
.fa-bars {
  pointer-events: none;
}
.nav-menu-container {
  height: 0;
  transition: 0.2s ease;
}
.nav-menu-container.is-active {
  height: 40vh;
}
.nav-menu {
  transition: 0.2s ease;
  opacity: 0;
  list-style: none;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  font-weight: 600;
  font-size: 0.85rem;
}
.nav-menu.is-active {
  opacity: 1;
}
.menu-item {
  border-top: 1px solid rgb(207, 206, 206);
  text-align: center;
  display: flex;
  align-items: center;
}
.menu-item a {
  text-decoration: none;
  color: black;
}

@media (min-width: 950px) {
  .nav-menu-wrapper {
    flex-direction: row;
  }
  .hamburger-container {
    display: none;
  }
  .nav-menu-container {
    height: 100%;
  }
  .nav-menu {
    flex-direction: row;
    opacity: 1;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
  }
  .menu-item {
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 100px;
  }
  .menu-item a {
    width: 100%;
  }
  .menu-item:hover,
  .menu-item:focus {
    border: 2px solid rgb(216, 1, 1);
  }
}

/* 
MAIN
 */
.home-banner-container {
  width: 99.7%;
  margin: auto;
  margin-top: 5rem;
}
.home-banner {
  width: 100%;
}
.reg-slide {
  margin-top: 6rem;
  flex-direction: column;
}
.slide-img-container,
.slide-img {
  width: 100%;
}

.slide-img {
  border: 6px solid white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.slide-heading {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
}
.slide-text {
  margin-top: 1rem;
  font-weight: 200;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .reg-slide {
    flex-direction: row;
    justify-content: space-between;
  }
  .slide-img-container {
    width: 45%;
  }
  .slide-text-container {
    width: 45%;
  }
}
