* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}
.flex {
  display: flex;
}
header {
  background-color: white;
  width: 100%;
  margin-bottom: 1rem;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
}
.nav {
  border-bottom: 1px solid rgb(207, 206, 206);
}
.nav-logo {
  height: 70px;
  object-fit: cover;
}
.nav-menu-wrapper {
  flex-direction: column;
  justify-content: space-between;
}
.nav-menu-wrapper-1 {
  justify-content: space-between;
  align-items: center;
}

.hamburger-container {
  padding: 0.25rem;
}
.hamburger {
  height: 55px;
  width: 55px;
  font-size: 1.85rem;
  appearance: none;
  border: none;
  background: none;
}
.fa-bars {
  pointer-events: none;
}
.nav-menu-container {
  height: 0;
  transition: 0.2s ease;
}
.nav-menu-container.is-active {
  height: 40vh;
}
.nav-menu {
  transition: 0.2s ease;
  opacity: 0;
  list-style: none;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  font-weight: 600;
  font-size: 0.85rem;
}
.nav-menu.is-active {
  opacity: 1;
}
.menu-item {
  border-top: 1px solid rgb(207, 206, 206);
  text-align: center;
  display: flex;
  align-items: center;
}
.menu-item a {
  text-decoration: none;
  color: black;
}

@media (min-width: 950px) {
  .nav-menu-wrapper {
    flex-direction: row;
  }
  .hamburger-container {
    display: none;
  }
  .nav-menu-container {
    height: 100%;
  }
  .nav-menu {
    flex-direction: row;
    opacity: 1;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
  }
  .menu-item {
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 100px;
  }
  .menu-item a {
    width: 100%;
  }
  .menu-item:hover,
  .menu-item:focus {
    border: 1px solid rgb(216, 1, 1);
  }
  .current-page {
    background-color: rgb(216, 1, 1);
  }
  .current-page a {
    color: white;
  }
}

/* 
MAIN
 */
.home-banner-container {
  width: 99.7%;
  margin: auto;
  margin-top: 5rem;
  text-align: center;
}
.home-banner {
  width: 100%;
}
.reg-slide {
  margin-top: 6rem;
  flex-direction: column;
  align-items: center;
}
.slide-img-container,
.slide-img {
  width: 100%;
}

.slide-img {
  border: 6px solid white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  margin-top: 3rem;
}

.slide-heading,
.home-events-title {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
}
.slide-text,
.event-caption,
.slide-sub-heading {
  margin-top: 1rem;
}
.slide-text,
.event-caption {
  font-weight: 200;
  font-size: 1rem;
}
.slide-sub-heading {
  color: gray;
  font-weight: bold;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .reg-slide {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
  .slide-img-container {
    width: 45%;
  }
  .slide-text-container {
    width: 45%;
  }
  .slide-img {
    margin-top: none;
  }
}
.home-events-container {
  margin-top: 6rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-events {
  overflow-x: scroll;
  scroll-snap-type: both mandatory;
  margin-top: 3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.home-events,
.home-event {
  width: 100%;
  min-width: 100%;
}
.home-event {
  scroll-behavior: smooth;
  scroll-snap-align: center;
  padding: 0.5rem;
}
.event-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.event-title {
  font-weight: 400;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .home-events {
    overflow: auto;
  }
  .home-event {
    min-width: 33%;
    border-right: 1px solid rgb(207, 206, 206);
  }
}
.footer {
  margin-top: 6rem;
}
.main-footer {
  flex-direction: column;
  gap: 2rem;
}
.main-footer li {
  list-style: none;
  font-weight: 200;
  font-size: 0.85rem;
}
.fa-brands {
  font-size: 2rem;
}
.sub-footer {
  margin-top: 3rem;
  background-color: #e10245;
  color: white;
  font-size: 0.85rem;
  padding: 1.5rem;
  font-weight: 200;
}
.rev-slide {
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .rev-slide {
    flex-direction: row-reverse;
  }
  .main-footer {
    flex-direction: row;
  }
  .footer-links {
    width: 33%;
  }
}
.center-strip-container {
  margin-top: 6rem;
  padding: 2rem 0;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
  color: rgb(216, 1, 1);
  font-weight: 200;
}
.vision-container {
  margin-top: 3rem;
  text-align: center;
}
.message-slide,
.center-strip-container {
  background-color: rgba(238, 236, 236, 0.858);
}
.message-slide {
  padding: 1rem;
}
.slide-list .slide-text {
  margin-top: 0;
}
.strip-item {
  text-align: center;
}
.value-strip {
  background-color: #e10227;
  color: white;
  padding: 0.5rem;
}
.values-banner-container {
  width: 90%;
}
.last-slide {
  margin-top: 3rem;
}

.contact-add-container {
  margin-top: 6rem;
  justify-content: space-between;
  flex-direction: column;
}

.contact-head {
  align-items: center;
  gap: 1rem;
}
@media (min-width: 768px) {
  .contact-add {
    width: 45%;
  }
  .contact-add-container {
    flex-direction: row;
  }
}
.contactus-form-container {
  text-align: center;
}
.contactus-form {
  margin-top: 3rem;
}
.contactus-form,
.form-credentials {
  flex-direction: column;
}
.form-credentials {
  gap: 0.5rem;
}
.contact-input {
  max-width: 300px;
  height: 35px;
}
.contact-input,
.contact-mess {
  padding: 0.5rem;
}
.contact-mess,
.contact-submit {
  margin-top: 0.5rem;
}
@media (min-width: 768px) {
  .form-credentials {
    flex-direction: row;
  }
  .contact-input {
    max-width: none;
    width: 33%;
  }
  .contact-mess {
    max-width: 80%;
  }
}
.contact-submit {
  width: 150px;
  height: 50px;
  font-size: 1rem;
  color: white;
  background-color: black;
  appearance: none;
  border: none;
}
